/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2019, 22:10:31
    Author     : cetecom
*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

a.submenu{
    /*margin: 0 0 0 20px;
    padding: 0 0 0 60px;*/
    padding-left: 60px;
    display:none;
}

a:hover{
    background: black;
}

.vacaciones{
 padding-left: 30px;   
  padding-top: 30px; 
  width: 400px;

}

#contenedor{
    width:100%;
}
#titulo{
    width:300%;
    height: 150px;
    float: left;
    background: red;
}
#menu{
    width: 30%;
    height: 500px;
    float: left;
    background: green;
}
#contenido{
   width: 70%;
   height: 500px; 
   float: left;
   background: yellow;
}